:root{
    --header: rgb(0, 66, 87);
    --headertext: rgb(212, 120, 0);
    --forest: rgb(1, 68, 33);
    --toasted: rgb(240, 230, 219);
}

*{
    box-sizing: border-box;
    background-color: rgb(190, 190, 190);
}
html{
    scroll-behavior: smooth;
}
header{
    position: relative;
    justify-content: space-between;
    display: flex;
    background-color: var(--header);
    color: var(--headertext);
    padding-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


img{
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
    align-self: center;
    border-style: solid;
    border-color: var(--header);
}
.aboutme{
    color: var(--header);
    font-size: 25px;
    padding-left: 1em;
    padding-right: 20vw;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
    width: 35%;
    background-color: var(--header);
    color: var(--headertext);
    text-decoration: none;
    font-size: 30px;

}
#main{
    display: flex;
    flex-direction: row;
    height: 1000px;
}
#heading{
    display: flex;
    background-color: var(--header);
    font-size: 45px;
    padding-left: 1em;

}
#leftside{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    height: 1500px;
    width: 25%;
    border-right: solid;
    border-color: var(--header);
    color: var(--header);
    font-size: 45px;
    padding-right: 1em;
}
#rightside{
    height: 1000px;
}
.work{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 800px;
}
.mycontactinfo{
    height: 200px;
    display: flex;
    justify-content: space-around;
    color: var(--header);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;

}
.navigation:hover{
    background-color: var(--headertext);
    color: var(--header);
    transition: .8s;
}

.mycontactinfo:hover{
    background-color: var(--headertext);
    color: var(--header);
    transition: .8s;
}

@media screen and (max-width:768px){
    *{
        box-sizing: border-box;
        background-color:var(--forest);
        color: var(--toasted)
    }
    header{
        position: relative;
        display: flex;
        background-color: var(--forest);
        color: var(--toasted);
        padding-bottom: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    nav{
        display: flex;
        width: 75%;
        padding-left: 25%;
        justify-content: space-between;
        align-self: flex-end;
        align-items: flex-end;
        background-color: var(--header);
    }
    .aboutme{
        color: var(--toasted);
    }
    #heading{
        display: flex;
        background-color: var(--forest);
        font-size: 45px;
        padding-left: 1em;
}
.navigation{
    background-color: var(--forest);
    color: var(--toasted);
    text-decoration: none;
    font-size: 30px;
}
.mycontactinfo{
    color: var(--toasted);
    flex-direction: column;
    justify-content: space-between;
    top: -100px;
}
#park{
    display: none;
}
#leftside{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    height: 2500px;
    width: 25%;
    border-right: solid;
    border-color: var(--toasted);
    color: var(--toasted);
    font-size: 45px;
    padding-right: 1em;
}
#rightside{
    height: 800px;
}
}